# Byte-compiled files
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3

# Environments
.env
*.env
.vscode/
.idea/
.DS_Store

# Virtual environments
venv/
env/
ENV/
*.egg-info/

# Migrations
migrations/
*/migrations/*

# Logs
*.log
logs/

# Media and static files
media/
static/

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
*.cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
Thumbs.db
